*.md
node_modules/
.git/
.github/
.husky/
.vscode/
dist/
.editorconfig
.eslintignore
.eslintrc-auto-import.json
.eslintrc.cjs
.gitattributes
.gitignore
.prettierignore
.prettierrc.cjs
docker-compose.yml
Dockerfile
LICENSE
