::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #21b1ff95;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #21b1ff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #21b1ff;
}

.amap-logo,
.amap-copyright {
  display: none !important;
}
