::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #21b1ff95;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #21b1ff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #21b1ff;
}

.amap-logo,
.amap-copyright {
  display: none !important;
}

.vc-color-wrap {
  border: 1px dashed #333;
}

.sidebar {
  @apply mr-2 w-100 flex flex-col bg-[#001231] text-white;
}
.materials-modal-header {
  @apply border-0 border-b-1 border-white border-solid px-4 py-2 text-lg font-600 text-white flex items-center;
}
